@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');
* {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

header,
.description,
.product,
footer {
    margin-left: 1.625rem;
    margin-top: 4.25rem;
}

header .logo {
    height: 2rem;
    width: 9.125rem;
}

#facebook,
#instagram,
#twitter {
    width: 1.25rem;
    height: 1.25rem;
}

.social-media-links--facebook,
.social-media-links--instagram {
    margin-right: 1.25rem;
}


/* Mobile up to 767px */

@media only screen and (max-width: 767px) {
    body {
        background-image: url('assets/bg-main-mobile.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: -12.5rem;
        background-position-y: -45.313rem;
    }
    header {
        margin-top: 2.5rem;
    }
    .header__shapes {
        display: none;
    }
    .description {
        margin-top: 3.125rem;
        width: 20.438rem;
    }
    .description__headline {
        font-size: 2.5rem;
        letter-spacing: -0.014rem;
        line-height: 3rem;
        margin-bottom: 1.313rem;
    }
    .description__text {
        font-size: 1rem;
        line-height: 1.625rem;
        width: 20.438rem;
    }
    .product {
        position: relative;
        margin-left: 0;
        width: 23.438rem;
        height: 64rem;
    }
    .product__app-illustration {
        margin-left: 5.063rem;
        height: 26.875rem;
        width: 13rem;
    }
    .product__bg {
        position: absolute;
        top: 6.25rem;
        height: 37.5rem;
        /* double check !! */
        width: 100vw;
        background-color: #191826;
        z-index: -1;
        border-radius: 0.75rem;
    }
    .bg__shapes {
        position: absolute;
        top: 0px;
        left: 3.125rem;
        height: 26.25rem;
        width: 17.5rem;
    }
    .product__card {
        position: absolute;
        top: 30rem;
        left: 0px;
        background-color: #FA7453;
        width: 100vw;
        height: 39.063rem;
        border-radius: 0.75rem;
    }
    .card__headline {
        font-size: 2.5rem;
        line-height: 3.25rem;
        color: #FCFAF9;
        margin-top: 3.125rem;
        margin-left: 2.188rem;
    }
    .card__text {
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 2.125rem;
        color: #FCFAF9;
        margin-right: 3.75rem;
        width: 18.875rem;
        margin-top: 1.25rem;
        margin-left: 2.188rem;
    }
    .card__price {
        margin-top: 0.625rem;
        margin-left: 2.188rem;
        font-size: 4.063rem;
        color: #FCFAF9;
    }
    .price__p {
        font-weight: 400;
        font-size: 1.25rem;
        margin-left: 0;
        letter-spacing: -0.013rem;
        line-height: 3.25rem;
    }
    .card__ios-dl {
        margin-top: 2.188rem;
        margin-bottom: 1rem;
        color: #FCFAF9;
        background-color: #191826;
    }
    .card__ios-dl,
    .card__an-dl {
        margin-left: 2.188rem;
        height: 3.813rem;
        width: 18.5rem;
        border-radius: 0.75rem;
        border-style: none;
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 2rem;
        letter-spacing: -0.011rem;
    }
    .card__an-dl {
        color: #191826;
        background-color: #FCFAF9;
    }
    .card__ios-dl:hover {
        background-color: #66E2DC;
        cursor: pointer;
    }
    .card__an-dl:hover {
        background-color: #FFB964;
        cursor: pointer;
    }
    .ios-dl__svg,
    .an-dl__svg {
        margin-right: 0.5rem;
    }
    footer {
        display: flex;
        flex-direction: column;
        margin-top: 8rem;
        height: 10.313rem;
        width: 20.438rem;
    }
    .footer__logo {
        height: 2rem;
        width: 9.125rem;
        margin-bottom: 2rem;
    }
    .content__text {
        width: 20.438rem;
    }
    .content__social-media-links {
        margin-left: 0;
        margin-top: 4.063rem;
        margin-bottom: 5rem;
    }
    .content__social-media-links a {
        text-decoration: none;
    }
    .social-media-links--facebook,
    .social-media-links--instagram {
        margin-right: 1.25rem;
    }
}


/* Mobile 414px to 480px download buttons */

@media only screen and (min-width: 414px) and (max-width:480px) {
    .card__ios-dl,
    .card__an-dl {
        width: 83.5%;
    }
}


/* Mobile up to 320px */

@media only screen and (max-width:320px) {
    .description__headline {
        font-size: 2.25rem;
    }
    .description__text {
        font-size: 0.875rem;
        width: 18.125rem;
        height: 9.75rem;
    }
    .product__app-illustration {
        margin-left: 4rem;
        width: 12.375rem;
        height: 25.464rem;
    }
    .bg__shapes {
        width: 16.25rem;
        height: 24.375rem;
        left: 2rem;
    }
    .product__card {
        top: 28.5rem;
    }
    .card__headline {
        font-size: 2.3rem;
        margin-left: 1.938rem;
    }
    .card__text {
        font-size: 1rem;
        width: 16.107rem;
        margin-left: 1.938rem;
    }
    .card__price {
        font-size: 3.5rem;
    }
    .price__p {
        font-size: 1rem;
    }
    .card__ios-dl,
    .card__an-dl {
        font-size: 0.875rem;
        margin-left: 1.938rem;
        width: 16.107rem;
    }
    .content__text {
        width: 17.625rem;
    }
}


/* TABLET from 768px up to 1024px */

@media only screen and (min-width:768px) and (max-width:1024px) {
    body {
        background-image: url('assets/bg-main-tablet.png');
        background-repeat: no-repeat;
        background-position-x: -25.625rem;
        background-position-y: -15.625rem;
    }
    header,
    .description,
    footer {
        margin-top: 5rem;
        margin-left: 2.438rem;
    }
    .header__shapes {
        position: absolute;
        top: -1.875rem;
        left: 70vw;
        height: 25rem;
        width: 16.625rem;
    }
    .description {
        width: 32.5rem;
    }
    .description__headline {
        font-size: 4rem;
        letter-spacing: -0.046rem;
        line-height: 4rem;
        margin-bottom: 2.188rem;
    }
    .description__text {
        width: 32rem;
        height: 7rem;
        font-size: 1.125rem;
    }
    .product {
        position: relative;
        height: 46.688rem;
        margin-top: 6.25rem;
        margin-left: 2.063rem;
    }
    .product__app-illustration {
        margin-left: 4.625rem;
        width: 16.888rem;
        height: 34.75rem;
    }
    .product__bg {
        position: absolute;
        top: 10rem;
        background-color: #191826;
        width: 91.5vw;
        z-index: -1;
        height: 37.5rem;
        border-radius: 0.75rem;
    }
    .bg__shapes {
        position: absolute;
        left: 14rem;
        top: -2.813rem;
    }
    .product__card {
        position: absolute;
        left: 15rem;
        top: 20rem;
        background-color: #FA7453;
        width: 24.938rem;
        height: 34.125rem;
        border-radius: 0.75rem;
    }
    .card__headline {
        font-size: 2rem;
        line-height: 3.25rem;
        color: #FCFAF9;
        margin-top: 3rem;
        margin-left: 3rem;
    }
    .card__text {
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.75rem;
        color: #FCFAF9;
        margin-top: 0.75rem;
        margin-left: 3.375rem;
        width: 18.875rem;
    }
    .card__price {
        margin-top: 0.521rem;
        margin-left: 3.375rem;
        font-size: 4.063rem;
        color: #FCFAF9;
    }
    .price__p {
        font-weight: 400;
        font-size: 1.25rem;
        margin-left: 0;
        letter-spacing: -0.013rem;
        line-height: 3.25rem;
    }
    .card__ios-dl {
        margin-top: 2rem;
        margin-bottom: 1rem;
        color: #FCFAF9;
        background-color: #191826;
    }
    .card__an-dl {
        color: #191826;
        background-color: #FCFAF9;
    }
    .card__ios-dl,
    .card__an-dl {
        margin-left: 3.375rem;
        height: 3.813rem;
        width: 18.5rem;
        border-radius: 0.75rem;
        border-style: none;
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 2rem;
        letter-spacing: -0.011rem;
    }
    .ios-dl__svg,
    .an-dl__svg {
        margin-right: 0.5rem;
    }
    footer {
        margin-top: 11.438rem;
        width: 48.187rem;
    }
    .footer__content {
        display: inline-flex;
        justify-content: space-between;
        margin-top: 2.5rem;
        width: 43.5rem;
        margin-bottom: 5.625rem;
    }
    .content__text {
        margin-left: 0;
        width: 22.875rem;
    }
}


/* Tablet 1024px */

@media only screen and (width: 1024px) {
    header,
    .description,
    .product,
    footer {
        margin-left: 2.7rem;
    }
    .header__shapes {
        left: 76vw;
    }
    .description__headline {
        font-size: 4.8rem;
    }
    .description__text {
        font-size: 1.321rem;
        width: 37.5rem;
    }
}


/* Laptop/Desktop from 1025px up to 2560px */

@media only screen and (min-width:1025px) and (max-width:2560px) {
    body {
        background-image: url('assets/bg-main-desktop.png');
        background-repeat: no-repeat;
        background-position-x: -13.75rem;
        background-position-y: -16.875rem;
    }
    header,
    .description,
    .product,
    footer {
        margin-left: 10.375rem;
        margin-top: 3.75rem;
    }
    header .logo {
        height: 2rem;
        width: 9.131rem;
    }
    .header__shapes {
        position: absolute;
        top: -1.875rem;
        left: 78vw;
        height: 29.25rem;
        width: 19.375rem;
    }
    .description {
        width: 60vw;
    }
    .description__headline {
        font-weight: 700;
        font-size: 5.5rem;
        letter-spacing: -0.063rem;
        line-height: 5.5rem;
    }
    .description__text {
        width: 51.563rem;
        margin-top: 2.5rem;
        font-size: 1.25rem;
        line-height: 2.125rem;
    }
    .product__app-illustration {
        margin-left: 6.313rem;
        width: 19.5rem;
        height: 40.125rem;
    }
    .product {
        position: relative;
        height: 50.813rem;
    }
    .product__bg {
        position: absolute;
        top: 13.313rem;
        background-color: #191826;
        width: 69.375rem;
        height: 37.5rem;
        border-radius: 0.75rem;
        z-index: -1;
    }
    .bg__shapes {
        position: absolute;
        left: 21rem;
        top: -2.813rem;
    }
    .product__card {
        position: absolute;
        left: 35.563rem;
        top: 18.938rem;
        background-color: #FA7453;
        width: 27.875rem;
        height: 39.063rem;
        border-radius: 0.75rem;
    }
    .card__headline {
        font-size: 2.5rem;
        line-height: 3.25rem;
        color: #FCFAF9;
        margin-top: 3.125rem;
        margin-left: 3.375rem;
    }
    .card__text {
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 2.125rem;
        color: #FCFAF9;
        margin-right: 3.75rem;
        margin-top: 1.25rem;
        margin-left: 3.375rem;
    }
    .card__price {
        margin-top: 0.625rem;
        margin-left: 3.375rem;
        font-size: 4.063rem;
        color: #FCFAF9;
    }
    .price__p {
        font-weight: 400;
        font-size: 1.25rem;
        margin-left: 0;
        letter-spacing: -0.013rem;
        line-height: 3.25rem;
    }
    .card__ios-dl {
        margin-top: 2.188rem;
        margin-bottom: 1rem;
    }
    .card__ios-dl,
    .card__an-dl {
        margin-left: 3.375rem;
        height: 3.813rem;
        width: 20.813rem;
        border-radius: 0.75rem;
        border-style: none;
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 2rem;
        letter-spacing: -0.011rem;
    }
    .card__ios-dl {
        color: #FCFAF9;
        background-color: #191826;
    }
    .card__an-dl {
        color: #191826;
        background-color: #FCFAF9;
    }
    .card__ios-dl:hover {
        background-color: #66E2DC;
        cursor: pointer;
    }
    .card__an-dl:hover {
        background-color: #FFB964;
        cursor: pointer;
    }
    .ios-dl__svg,
    .an-dl__svg {
        margin-right: 0.5rem;
    }
    footer {
        display: flex;
        height: 10.313rem;
        width: 69.375rem;
        margin-top: 12.625rem;
    }
    .footer__logo {
        height: 2rem;
        width: 9.125rem;
    }
    .footer__content {
        display: inline-flex;
    }
    .content__text {
        margin-left: 8.75rem;
        width: 22.875rem;
        height: 4.938rem;
    }
    .content__social-media-links {
        margin-left: 21.875rem;
    }
    .content__social-media-links a {
        text-decoration: none;
    }
    /* HOVER SOCIAL MEDIA */
    .content__social-media-links a svg:hover #facebook,
    .content__social-media-links a svg:hover #instagram,
    .content__social-media-links a svg:hover #twitter {
        fill: #FFB964;
        opacity: 1;
    }
}


/* Laptop 1280px */

@media only screen and (width:1280px) {
    header,
    .description,
    .product,
    footer {
        margin-left: 5rem;
    }
    footer {
        margin-top: 12.625rem;
    }
}


/* Desktop 1920px */

@media only screen and (width: 1920px) {
    header,
    .description,
    .product,
    footer {
        margin-left: 12rem;
    }
    .header__shapes {
        left: 83.7vw;
    }
}


/* Desktop 2560px */

@media only screen and (width: 2560px) {
    header,
    .description,
    .product,
    footer {
        margin-left: 20rem;
    }
    .header__shapes {
        left: 88vw;
    }
}